body {
    background-color: #010409f2;
}

a {text-decoration:none;}
a:hover {text-decoration: none;}
button:active, button:focus {outline: none;}
button::-moz-focus-inner {border: 0;}

nav {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}

.logo {
    color: #d7dce3;
    fill: # d7dce3;
    font-weight: 700;
}

.logo:hover {
    color: #afb5bb;
}

.main-font {
    font-family: 'Kanit', sans-serif;
}

.main-color {
    background-color: #1a1f26;
}

.main-color-additional {
    background-color: #010409f2;
}

.main-white-font-color {
    color: #d7dce3;
}

.main-news-block {
    display: inline-block;
    margin: 0 auto;
}

.main-align-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.main-navbar {
    box-shadow: -5px 12px 20px #080a0fd9;
    padding: 0;
}

.main-justify {
    display: flex;
    justify-content: space-between;
}

.main-side {
    width: 75%;
}

.pt-60 {
    padding-top: 60%;
}

.main-fs {
    font-size: 18px!important;
}

.d-line {
    display: inherit;
}

.main-hidden-word {
    display: inline;
}

.main-search-box-container {
    width: 3.58%;
    margin-right: auto;
    transition: all 0.7s;
}

.main-search-box {
    width: 0;
    padding-left: 2%;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: auto;
    border: none;
	background: none;
	color: #fff;
	font-size: 16px;
	transition: .5s;
}

.main-search-box::-ms-clear {
    display: none;
}

.nav-link:hover {
    color: #afb5bb;
}

.main-search-box-container:hover {
    background-color: #0d1015;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-radius: 40px;
    width: 32%;
    border: 2px;
}

.main-search-box-container:hover:before {
    transition: all 0.3s;
}

.main-search-box-container:hover .main-search-box {
	width: calc(100% - 21px);
}

.main-search-btn {
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-decoration: none;
}

.main-search-btn:hover {
    color: white;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    color: #fff;
    position: absolute;
    font-size: 35px;
}

.nav-link {
    color: #d7dce3;
}

.main-navbar-check {
    -webkit-appearance: none;
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

.main-registration-error {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    color: #d24545;
}

.main-registration-title {
    box-shadow: 9px 9px 40px #0d1015;
    font-weight: bold;
}

.main-registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-registration {
    width: 60%;
    border-radius: 20px;
    color: #d7dce3;
    background-color: #1a1f26;
    margin-top: 8%!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem!important;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 78%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem!important;
}

.main-form-group-f-d-none {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem!important;
}

.main-registration-input {
    width: 75%;
    font-weight: bold;
    background-color: #d7dce3;
    outline: none;
    border: 0;
    height: 45px;
    border-radius: 6px;
    padding-left: 3%;
    box-shadow: 11px 11px 7px #0d1015;
}

.main-registration-description {
    padding-top: 11px!important;
    min-height: 45px;
}

.main-auth-checkbox {
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.main-registration-button {
    width: 35%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}

.main-registration-button-navbar {
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    cursor: pointer;
    border: none;
    height: 80%;
    margin: auto;
    width: 90px;
}

.main-registration-button-navbar:hover {
    color: #afb5bb;
}

#main-posts {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#main-post {
    background-color: #1a1f26;
    border-radius: 5px;
}

#main-post-header {
    margin-left: 4%;
    align-items: center;
}

#post-user {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#main-post-user-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-post-item {
    margin-right: 2%!important;
}

.main-add-post {
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 6px;
}

.main-add-post-bottom {
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 0 0 6px 6px;
}

.i-post {
    font-size: 19px!important;
    margin-top: 0.7%;
}

#main-post-input {
    border: none;
    width: 100%;
    min-height: 20px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    min-height: 26px;
    padding-right: 2%;
}

#main-post-ask-btn {
    border: none; outline: none;
    width: 100%;
    background: none;
    text-align: inherit;
    padding-left: 3%;
}

#main-post-text {
    display: flex;
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 3.15%;
}

#main-post-other {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.main-post-label {
    margin: 0 auto;
    font-weight: bold;
}

[hidden] {
    display: none!important;
}

#main-post-bottom-panel {
    display: flex;
    justify-content: space-between;
}

#main-post-more-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

#main-post-btn {
    font-size: 14px;
    width: 21%;
    height: 20%;
    font-weight: bold;
    display: block;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    border: none;
    margin-right: 1%;
    margin-bottom: 0.7%;
}

#main-post-ask-btn:click {
    display: none;
}

#qa-div {
    margin-left: 2%;
}

.main-hidden-crutch {
    display: none;
}

#main-post-images {
    width: 75%;
    background-color: #1a1f26;
    margin: 0 auto;
}

#main-post-cancel-btn-div {
    display: none;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 0 0 6px 6px;
    margin: 0 auto;
}

.main-post-image {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#main-post-cancel-btn {
    font-size: 14px;
    width: 21%;
    height: 20%;
    font-weight: bold;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    margin-bottom: 1%;
    margin-right: 1.5%;
    border: none;
}

#main-img-div {
    display: inline-block;
}

#main-post-files {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-image-in-post {
    width: 75%;
    margin-bottom: 1%;
}

#main-image-in-post-error {
    width: 30%;
    margin-bottom: 1%;
}

.main-post-dropdown-menu {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
    width: 10%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: all .2s ease-out;
}

.main-post-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    z-index: 99;

}

.main-post-dropdown-menu a {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 925px)
{
    nav {
        padding-right: 0!important;
        padding-left: 0 !important;
    }

    .main-logo-link {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .main-hidden-word {
        display: none!important;
    }

    .main-search-box-container {
        background-color: #0d1015;
        padding-right: 12px;
        padding-bottom: 2px;
        padding-left: 6px;
        border-radius: 40px;
        width: 100%;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        margin-top: 0.1rem!important;
        margin-bottom: 0.5rem!important;
    }

    .main-search-box {
        width: calc(100% - 21px);
    }

    .main-search-box-container:hover {
        width: 100%;
    }

    .main-logo {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .main-ul {
        display: flex;
        align-items: center;
        height: 0;
        visibility: hidden;
    }

    .links {
        margin: auto;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked ~ nav .bar #times {
        display: block;
    }

    #check:checked ~ nav .bar #bars {
        display: none;
    }

    #check:checked ~ nav .main-ul {
        height: auto;
        visibility: visible;
    }

    .active {
        margin-left: 2rem!important;
        margin-right: 2rem!important;
    }

    .main-registration-button-navbar {
        width: 100px;
        height: 30px;
        margin-bottom: 8px;
    }

    .main-icon-fix {
        margin-bottom: 10px;
    }

    .main-add-post-bottom {
        width: 100%;
    }

    .main-add-post {
        width: 100%;
    }
}

@media screen and (max-width: 426px)
{
    .main-logo-link {
        margin: 0 auto!important;
    }

    .logo {
        display: none!important;
    }

    nav .bar #times {
        display: none;
    }

    nav .bar #bars {
        display: none;
    }

    .main-search-box-container {
        margin-top: 1rem!important;
    }

    .active {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }

    nav .main-ul {
        height: auto;
        visibility: visible;
    }
}

@media screen and (max-width: 992px) {
    .main-registration-title {
        font-size: 2rem!important;
    }

    .main-registration {
        width: auto!important;
        margin-top: 21%!important;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-bottom: auto!important;
    }

    .main-form-group {
        margin-bottom: 1.5rem!important;
    }

    .main-registration-input {
        width: 90%;
        height: 37px;
    }

    .main-registration-description {
        min-height: 37px;
        padding-top: 7px!important;
    }
}

@media screen and (max-width: 426px)
{
    .main-registration {
        width: auto!important;
        margin-top: 33%!important;
    }

    .main-registration-title {
        font-size: 1.7rem!important;
    }

    .main-form-group {
        margin-bottom: 1.5rem!important;
    }

    .main-registration-input {
        height: 30px;
    }

    .main-registration-description {
        min-height: 30px;
    }

    .main-registration-description {
        padding-top: 0.2rem!important;
    }
}
