body {
    background-color: #010409f2;
}

a {text-decoration:none;color:#6498d0}
a:hover {text-decoration: none;color:#4a729c}
input {outline:none;}
textarea {outline:none;}
button:active, button:focus {outline: none;}
button::-moz-focus-inner {border: 0;}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
  cursor: text;
}

h1 {
    font-size: 1.5rem;
}

.main-20px {
    font-size: 20px!important;
}

b {
    font-weight: 400;
}

.hidden {
    display: none!important;
}

div .code {
    padding: 12px;
    box-shadow: 0px 12px 9px #080a0fd9;
    background-color: #292d3e!important;
    display: inline-block;
    border-radius: 13px;
    color: #e83e8c!important;
    white-space: pre-wrap;
}

blockquote {
    position: relative;
    margin: 0 1em var(--s-prose-spacing) 1em;
    padding: 0.4em 1em 0.4em 1em;
    color: #d7dce3;
}

blockquote:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    border-radius: 8px;
    background: #d7dce3;
}

.main-fs-15px {
    font-size: 15px;
}

.main-p {
    margin: 0;
}

.main-strong {
    font-weight: bolder;
}

.df-jc-sb {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.df-jc-c {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.df-c {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-w-w {
    word-wrap: break-word;
    word-break: break-word;
}

.f-s-20 {
    font-size: 20px;
}

nav {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}

.logo {
    color: ;
    fill: # d7dce3;
    font-weight: 700;
}

.logo:hover {
    color: #afb5bb;
}

.main-font {
    font-family: 'Kanit', sans-serif;
}

.main-color {
    background-color: #1a1f26;
}

.main-color-additional {
    background-color: #010409f2;
}

.main-white-font-color {
    color: #d7dce3;
}

.main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.main-news-block {
    display: inline-block;
    margin: 0 auto;
}

.main-align-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.main-navbar {
    box-shadow: -5px 12px 20px #080a0fd9;
    padding: 0;
}

.main-justify {
    display: flex;
    justify-content: space-between;
}

.main-side {
    width: 75%;
}

.pt-60 {
    padding-top: 60%;
}

.main-fs {
    font-size: 18px!important;
}

.d-line {
    display: inherit;
}

.main-hidden-word {
    display: inline;
}

.main-search-box-container {
    width: 3.58%;
    margin-right: auto;
    transition: all 0.7s;
}

.main-search-box {
    width: 0;
    padding-left: 2%;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: auto;
    border: none;
	background: none;
	color: #fff;
	font-size: 16px;
	transition: .5s;
}

.main-search-box::-ms-clear {
    display: none;
}

.nav-link:hover {
    color: #afb5bb;
}

.main-search-box-container:hover {
    background-color: #0d1015;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-radius: 40px;
    width: 32%;
    border: 2px;
}

.main-search-box-container:hover:before {
    transition: all 0.3s;
}

.main-search-box-container:hover .main-search-box {
	width: calc(100% - 21px);
}

.main-search-btn {
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-decoration: none;
}

.main-search-btn:hover {
    color: white;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    color: #fff;
    position: absolute;
    font-size: 27px;
}

.nav-link {
    color: #d7dce3;
}

.main-navbar-check {
    -webkit-appearance: none;
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

.active {
    position: relative;
}

.main-registration-error {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    color: #d24545;
}

.main-registration-title {
    font-weight: bold;
}

.main-registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-registration {
    width: 60%;
    border-radius: 20px;
    color: #d7dce3;
    background-color: #1a1f26;
    margin-top: 8%!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem!important;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 78%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem!important;
}

.main-form-group-f-d-none {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem!important;
}

.main-registration-input {
    width: 75%;
    font-weight: bold;
    background-color: #d7dce3;
    outline: none;
    border: 0;
    height: 45px;
    border-radius: 6px;
    padding-left: 3%;
    box-shadow: 11px 11px 7px #0d1015;
}

.main-registration-description {
    padding-top: 11px!important;
    min-height: 45px;
}

.main-auth-checkbox {
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.main-registration-button {
    width: 35%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}

.main-registration-button-navbar {
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    cursor: pointer;
    border: none;
    height: 80%;
    margin: auto;
    width: 90px;
}

.main-registration-button-navbar:hover {
    color: #afb5bb;
}

#main-posts {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.main-post {
    background-color: #1a1f26;
    border-radius: 5px;
    margin-bottom: 2.5%;
}

#main-post-header {
    position: relative;
    margin-left: 4%;
    align-items: center;
}

#post-user {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#main-post-user-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-post-item {
    margin-right: 2%!important;
}

.main-add-post {
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 6px;
}

.main-add-post-bottom {
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 0 0 6px 6px;
}

.i-post {
    font-size: 19px!important;
    margin-top: 0.7%;
}

#main-post-input {
    border: none;
    width: 100%;
    min-height: 20px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    min-height: 26px;
    padding-right: 2%;
}

#main-post-ask-btn {
    border: none; outline: none;
    width: 100%;
    background: none;
    text-align: inherit;
    padding-left: 3%;
}

.main-post-text {
    display: flex;
    margin-right: 3.55%;
    margin-top: 1%;
    margin-left: 3.55%;
    word-wrap: break-word;
    flex-direction: column;
}

#main-post-other {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.main-post-label {
    margin: 0 auto;
    font-weight: bold;
}

[hidden] {
    display: none!important;
}

#main-post-bottom-panel {
    display: flex;
    justify-content: space-between;
}

#main-post-more-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

#main-post-btn {
    font-size: 14px;
    width: 21%;
    height: 20%;
    font-weight: bold;
    display: block;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    border: none;
    margin-right: 1%;
    margin-bottom: 0.7%;
}

#main-post-ask-btn:click {
    display: none;
}

#qa-div {
    margin-left: 2%;
}

.main-hidden-crutch {
    display: none;
}

#main-post-images {
    width: 75%;
    background-color: #1a1f26;
    margin: 0 auto;
}

#main-post-cancel-btn-div {
    display: none;
    width: 75%;
    background-color: #1a1f26;
    border-radius: 0 0 6px 6px;
    margin: 0 auto;
}

.main-post-image {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#main-post-cancel-btn {
    font-size: 14px;
    width: 21%;
    height: 20%;
    font-weight: bold;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    margin-bottom: 1%;
    margin-right: 1.5%;
    border: none;
}

#main-img-div {
    display: inline-block;
}

#main-post-container div::-webkit-scrollbar {
    width: 7px;
    margin-right: 1rem;
    background-color: #ffffff00;
}

#main-post-container div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d7dce3;
}

#main-post-files {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-image-in-post {
    width: 75%;
    margin-bottom: 1%;
}

#main-image-in-post-error {
    width: 30%;
    margin-bottom: 1%;
}

.main-dropdown-link {
    color: #d7dce3!important;
    font-size: 15px;
}

.main-deleted-post {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding: 1%;
    background-color: #1a1f26;
    border-bottom: 2px solid #d7dce3;
}

.main-deleted-span {
    color: #d7dce3;
    font-weight: bold;
}

.main-delete-link {
    background-color: #d24545b5;
    border-radius: 5px;
    cursor: pointer;
}

.fa-times {
    color: #d7dce3b0;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.39, 0.12, 1, 1) 0s;
}

.main-likes {
    transition: all .2#d7dce3b0s cubic-bezier(0.39, 0.12, 1, 1) 0s;
    height: 18px;
    margin-right: .3%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.main-likes-num {
    color: #d7dce3b0;
    font-weight: bold;
    margin-right: 20%;
}

.main-already-liked {
    color: #d24545!important;
}

.main-post-dropdown-menu {
    right: 2%;
    color: #d7dce3;
    background: #1a1f26;
    padding: 8px 15px;
    box-shadow: 0 5px 30px rgb(12 13 16);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: all .2s ease-out;
}

.main-post-dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    z-index: 99;

}

.main-post-dropdown-menu a {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}

#main-post-write-comments {
    padding-bottom: 1.5%;
}

.main-post-comment-input {
    color: #d7dce3;
    width: 100%;
    border-radius: 5px;
    padding: 4px 5px;
    padding-left: 1.5%;
    margin-left: 2%;
    margin-right: 3%;
    border: none;
    min-height: 20px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    min-height: 32px;
    padding-right: 2%;
    background-color: #0d1015;
    cursor: auto;
    box-shadow: 7px 8px 8px #0d1015;
}

#main-send-comment-btn {
    font-size: 15px;
    width: 21%;
    font-weight: bold;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    border: none;
    margin-right: 2%;
}

.main-comment-ava {
    font-size: 22px!important;
    margin-top: 0.65%;
    margin-left: 2.6%;
}

.main-comment-a-ava {
    font-size: 19px!important;
    margin-left: 0;
    margin-top: 0.35%;
    margin-right: 1.3%;
}

.main-comment-union {
    display: flex;
    flex-direction: column;
}

.main-comment-hr {
    border: none;
    color: #0d1015a8;
    background-color: #0d101585;
    height: 3px;
}

.main-hr-for-comments {
    border: none;
    color: #0d10157d;
    background-color: #0d10157d;
    height: 2px;
    margin-top: .3em;
    margin-bottom: .3em;
    width: 94.5%;
}

.main-post-comments {
    margin-bottom: 2%;
}

.main-post-comment {
    width: 94.5%;
    margin: 0 auto;
    margin-bottom: 0.2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.main-comment-data {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-comment-username {
    color: #d7dce3;
}

.main-comment-text {
    font-size: .85em;
    margin-right: 6.285%;
    word-wrap: break-word;
    color: #d7dce3;
    white-space: pre;
}

.main-comment-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94.5%;
    margin: 0 auto;
    font-size: 12.5px;
}

.main-like-icon {
    color: #d7dce3b0;
    font-size: 10.5px!important;
}

.main-hidden-content-div {
    width: 94.5%;
    color: #d7dce3;
    word-wrap: break-word;
    margin-bottom: 1%;
}

.main-post-long-text {
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 3.15%;
    word-wrap: break-word;
    flex-direction: column;
    color: #d7dce3;
    display: block;
}

.p-span {
    font-weight: bolder;
}

#main-qaa-ask {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #d7dce3;
    border-radius: 7px;
}

#main-qaa-ask-link {
    font-size: 15px;
    text-transform: uppercase;
    background: linear-gradient(#C33764, rgba(135, 60, 255, 0.0) 70%),
                linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, #1D2671 65%);
    color: #d7dce3;
    font-weight: 650;
    padding: 1% 4%;
    border-radius: 19px;
    transition: .5s;
}

#main-qaa-ask-link:hover {
    color: #d7dce3a6;
}

.df-jc-c .fa-code {
    font-size: 30px;
    margin-right: .5%;
}

.j-c-b .fa-code {
    margin-right: 1%;
}

#main-qaa-form {
    display: flex;
    flex-direction: column;
    background-color: #1a1f26;
    padding: 1% 3%;
    padding-bottom: 3%;
    border-radius: 14px;
    box-shadow: 10px 9px 7px #080a0fd9;
}

.main-qaa-form-item {
    width: 100%;
    margin-bottom: 1%;
    padding: .5%;
    border-radius: 6px;
}

#main-ask-button {
    width: 35%;
    font-weight: bold;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: .5%;
    cursor: pointer;
    border: none;
}

#main-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.main-question {
    color: #d7dce3;
    width: 100%;
    margin-right: 1%;
}

.main-question-title {
    color: #6498d0;
    font-size: 20px;
}

.main-question-title:hover {
    color: #557fac;
    transition: .5s;
}

.main-qaa-hr {
    border: none;
    color: #d7dce3;
    background-color: #d7dce3;
    height: 3px;
    width: 100%;
    margin: 0;
}

.main-ask-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 1%;
}

.main-qaa-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
}

.main-num {
    font-size: 15px;
}

.main-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-tag {
    color: #d7dce3;
    background-color: #4c749f;
    padding: 0 20px;
    margin-right: 0.5rem;
}

.main-qaa-back-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-qaa-content {
    display: grid;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.main-vote {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-arrow {
    font-size: 40px!important;
    cursor: pointer;
}

.main-arrow:hover {
    transition: .4s;
    color: #d7dce39c;
}

.main-qaa-page-content {
    margin-top: 2%;
    display: grid;
    justify-content: start;
    justify-items: start;
    margin-bottom: 4rem;
}

.main-qaa-selected {
    color: #e8396b;
    transition: .2s;
}

.main-qaa-selected:hover {
    transition: .4s;
    color: #e8396b99;
}

.main-home-user {
    font-size: 23px;
}

.j-c-b {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.main-pointer-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-qaa-block {
    display: grid;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: start;
    align-items: start;
    background-color: #1a1f26;
    padding: 1% 2%;
    border-radius: 0 0 15px 15px;
    box-shadow: 15px 17px 10px #080a0fd9;
    padding-left: 1.5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-qaa-left-block {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
    margin-top: 5%;
}

.main-qaa-right-block {
    grid-column: 2;
    display: inline-grid;
    margin-left: 1%;
    width: 100%;
}

.main-hidden-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-post-avatar {
    margin-top: 0;
    font-size: 25px!important;
}

.main-qaa-tags {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.main-qaa-tag {
    margin-right: 0.4rem;
    padding: 0.2rem 0.5rem;
    background-color: #354695;
    border-radius: 5px;
}

#main-qaa-p-tags .main-qaa-tag {
    background-color: #e8396b6b;
    font-size: 12px;
}

#main-qaa-p-tags {
    width: fit-content;
    padding: 0.2rem 0.3rem;
    background-color: #292d3e;
    border-radius: 9px;
}

.main-qaa-field-error {
    border: 2px solid #d24545;
}

.main-qaa-error {
    font-weight: bold;
    color: #d24545;
}

.main-qaa-user {
    display: flex;
    margin-bottom: .5%;
    justify-content: center;
    padding: 0 8%;
    background-color: #354695;
    border-radius: 15px;
    align-items: center;
    padding-right: 15%;
    margin-right: 9%;
}

.main-qaa-ava {
    font-size: 21px!important;
    margin: 0.2rem 0.35rem 0.2rem 1rem!important;
}

.main-qaa-ava-a {
    color: #d7dce3;
}

.main-qaa-ava-a:hover {
    color: #d7dce3;
}

.main-m-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.top-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #354695;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.top-panel b {
    color: #d7dce3;
}

#main-qaa-question {
    margin-left: 1rem;
    grid-column: 2;
}

.main-qaa-user-data {
    display: flex;
    align-items: center;
    color: #d7dce3;
    box-shadow: 13px 13px 10px #080a0fd9;
}

.main-qaa-user-data-comment {
    display: flex;
    align-items: center;
    color: #d7dce3;
    margin: 0 auto;
    padding: 0.3rem 0.2rem;
    padding-right: 1rem;
    background-color: #1a1f26;
    border-radius: 15px 15px 0 0;
    justify-content: flex-end
}

.main-qaa-user-data:hover {
    transition: .3s;
    color: #d7dce399;
}

.main-qaa-user-data-comment a {
    color: #d7dce3;
}

.main-qaa-user-data-comment a:hover {
    transition: .3s;
    color: #d7dce399;
}

.main-qaa-user-data span {
    font-size: 13px;
}

.main-qaa-user-data i {
    font-size: 18px!important;
}

.main-bottom-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.man-qaa-ava-b {
    margin-right: 0.3rem!important;
}

#qaa-answer-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #1a1f26;
    padding: 0.5rem 1rem;
    box-shadow: 12px 12px 10px #080a0fd9;
    margin-bottom: 1rem;
    border-radius: 13px;
}

#qaa-answer-form textarea::-webkit-scrollbar {
    width: 7px;
    background-color: #ffffff00;
}

#qaa-answer-form textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #793251;
}

#qaa-answer-form textarea::-webkit-resizer {
    background-color: #292d3e;
}

#qaa-answer-form textarea{
    min-height: 10rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    height: 160px;
    color: #d7dce3;
    background-color: #292d3e;
    border: none;
    padding: 0.2rem 0.5rem;
}

#qaa-answer-form input {
    background-color: #793251;
    color: #d7dce3;
    font-size: 17px;
    outline: none;
    border-color: #793251;
    border: none;
}

#qaa-answer-form span {
    margin-bottom: 0.6rem;
    font-size: 19px;
}

.grid-answer {
    display: grid;
    align-content: center;
    justify-content: start;
    background-color: #1a1f26;
    padding: 0.35rem 1rem;
    border-radius: 0 0 15px 15px;
    box-shadow: 13px 13px 10px #080a0fd9;
}

.grid-answer-data {
    grid-column: 2;
    padding: 0.4rem .7rem;
    padding-top: 0;
}

.main-comment-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.9rem;
}

.main-comment-vote span {
    font-size: 35px;
}

.main-arrow-c {
    font-size: 35px!important;
    cursor: pointer;
}

.answers-pre {
    color: #d7dce3;
    margin-bottom: 0;
    word-wrap: break-word;
    word-break: break-word;
    white-space: break-spaces;
}

.qaa-comment-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: .6rem;
    margin-bottom: 1.5rem;
}

.main-qaa-comment-input {
    color: #d7dce3;
    width: 100%;
    border-radius: 5px;
    padding: 4px 5px;
    padding-left: 1.5%;
    margin-left: 2%;
    margin-right: 3%;
    border: none;
    min-height: 20px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    min-height: 32px;
    padding-right: 2%;
    background-color: #0d1015;
    cursor: auto;
    box-shadow: 7px 8px 8px #0d1015;
    text-indent: 0.25rem;
    font-size: 14px;
}

.qaa-comment-btn {
    font-size: 15px;
    width: 21%;
    font-weight: bold;
    background: #0d1015;
    box-shadow: 7px 8px 8px #0d1015;
    border-radius: 5px;
    color: #d7dce3;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    border: none;
    font-size: 12px;
}

.qaa-comment-data {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    justify-content: flex-end;
    color: #d7dce3;
    padding: 0 3.25rem;
}

.qaa-comment-data:hover {
    transition: .3s;
    color: #d7dce399;

}

.qaa-comment {
    margin-bottom: .5rem;
}

.qaa-comment div {
    padding: 0 2.5rem;
    color: #d7dce3;
}

.qaa-comment span {
    color: #d7dce3;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 12px;
}

.qaa-answers-comments {
    padding: .2rem 3.5rem;
    margin-top: 0.5rem;
}

.qaa-comment-hidden {
    display: none;
}

.comment-show-all-btn {
    display: inherit;
    cursor: pointer;
    color: #6498d0;
    font-size: 12px;
}

.right-answer .main-qaa-user-data-comment {
    border: 2px solid #2b873fa6;
    border-bottom: 0;
    transition: .3s;
}

.right-answer .grid-answer {
    border: 2px solid #2b873fa6;
    border-top: 0;
    transition: .3s;
}

.fa-check-right {
    color: #2b873fa6;
    cursor: pointer;
}

.right-answered {
    color: #66d064;
}

.right-answered:hover {
    color: #4a9649;
}

.right-answer-bg {
    background-color: #29c42675;
    padding: .2rem;
    border-radius: 5px;
}

.main-qaa-c-error {
    font-weight: bold;
    color: #d24545;
}

.main-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000ad;
}

.main-popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-popup-content {
    padding: .5rem 2rem;
    background-color: #292d3ead;
    color: #d7dce3;
    width: 30rem;
    border-radius: 12px;
}

.main-popup-btn {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0 0 0;
}

.error-bg {
    background-color: #a73b3b!important;
    padding: .2rem .3rem;
}

.error-bg:hover {
    color: #d7dce3;
    background-color: #6e2727!important;
    transition: .3s;
}

.main-popup-popup {
    outline: none;
    border: 0;
    background-color: #4c465a;
    border-radius: 5px;
    color: #d7dce3;
}

.main-popup-popup:hover {
    background-color: #373341;
    transition: .3s;
}

#qaa-title {
    display: flex;
    justify-content: space-between;
}

.fa-trash-alt {
    color: #d24545;
}

#qaa-delete-btn {
    outline: none;
    background: none;
    border: none;
}

#notifications {
    flex-direction: column;
    color: #d7dce3;
    background-color: #1a1f26;
    height: 25rem;
    position: absolute;
    right: 12rem;
    z-index: 100;
    box-shadow: -10px 10px 20px 2px #080a0fd9;
    display: none;
}

.notification a {
    color: #d7dce3;
}

.notification a:hover {
    color: #d7dce399;
    transition: .3s;
}

#notifications h5 {
    display: flex;
    justify-content: center;
}

.notification {
    padding: .2rem 1rem;
    word-wrap: break-word;
    word-break: break-word;
}

#notification-container {
    height: 100%;
    overflow-y: scroll;
    padding-top: .4rem;
    width: 30rem;
}

#notification-container::-webkit-scrollbar {
    width: 7px;
    background-color: #ffffff00;
}

#notification-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d7dce3;
}

#notification-container::-webkit-resizer {
    background-color: #292d3e;
}

.new-event-marker {
    color: #d7dce3;
    font-size: 10px;
    position: absolute;
    top: 15%;
    left: 6px;
    background: #d24545;
    border-radius: 11px;
    max-width: 1.5rem;
    overflow: hidden;
    padding: 0px 20%;
}

.nb-button {
    background: none;
    border: none;
    padding: 0;
}

.notification-unread {
    background-color: #1f2329;
}

@media screen and (max-width: 925px)
{
    nav {
        padding-right: 0!important;
        padding-left: 0 !important;
    }

    .main-logo-link {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .main-hidden-word {
        display: none!important;
    }

    .main-search-box-container {
        background-color: #0d1015;
        padding-right: 12px;
        padding-bottom: 2px;
        padding-left: 6px;
        border-radius: 40px;
        width: 100%;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        margin-top: 0.1rem!important;
        margin-bottom: 0.5rem!important;
    }

    .main-search-box {
        width: calc(100% - 21px);
    }

    .main-search-box-container:hover {
        width: 100%;
    }

    .main-logo {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .main-ul {
        display: flex;
        align-items: center;
        height: 0;
        visibility: hidden;
    }

    .links {
        margin: auto;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked ~ nav .bar #times {
        display: block;
    }

    #check:checked ~ nav .bar #bars {
        display: none;
    }

    #check:checked ~ nav .main-ul {
        height: auto;
        visibility: visible;
    }

    .active {
        margin-left: 2rem!important;
        margin-right: 2rem!important;
    }

    .main-registration-button-navbar {
        width: 100px;
        height: 30px;
        margin-bottom: 8px;
    }

    .main-icon-fix {
        margin-bottom: 10px;
    }

    .main-add-post-bottom {
        width: 100%;
    }

    .main-add-post {
        width: 100%;
    }

    #main-posts {
        width: 100%;
    }

    .main-post-text {
        font-size: 13px;
    }

    .main-home-user {
        font-size: 18px;
        font-weight: 600;
    }

    .main-post-avatar {
        margin-top: 0;
        font-size: 20px!important;
    }

    .main-comment-a-ava {
        font-size: 18px!important;
    }
}

@media screen and (max-width: 426px)
{
    .main-logo-link {
        margin: 0 auto!important;
    }

    .logo {
        display: none!important;
    }

    nav .bar #times {
        display: none;
    }

    nav .bar #bars {
        display: none;
    }

    .main-search-box-container {
        margin-top: 1rem!important;
    }

    .active {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }

    nav .main-ul {
        height: auto;
        visibility: visible;
    }

    .main-qaa-tag {
        font-size: 10px;
        padding: 0.1rem 0.2rem;
        margin-right: 0.3rem;
    }

    .main-qaa-left-block .main-m-b {
        font-size: 15px!important;
    }

    .main-qaa-left-block small {
        font-size: 12px!important;
    }

    .main-qaa-right-block a {
        font-size: 13px!important;
    }

    .main-qaa-right-block p {
        font-size: 10px!important;
    }

    .top-panel i {
        font-size: 16px!important;
    }

    .top-panel b {
        font-size: 14px!important;
    }
}

@media screen and (max-width: 992px) {
    .main-registration-title {
        font-size: 2rem!important;
    }

    .main-registration {
        width: auto!important;
        margin-top: 21%!important;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-bottom: auto!important;
    }

    .main-form-group {
        margin-bottom: 1.5rem!important;
    }

    .main-registration-input {
        width: 90%;
        height: 37px;
    }

    .main-registration-description {
        min-height: 37px;
        padding-top: 7px!important;
    }

    #notifications {
        right: 0rem;
        width: 100%;
    }

    #notification-container {
        width: 100%;
    }
}

@media screen and (max-width: 426px)
{
    .main-registration {
        width: auto!important;
        margin-top: 33%!important;
    }

    .main-registration-title {
        font-size: 1.7rem!important;
    }

    .main-form-group {
        margin-bottom: 1.5rem!important;
    }

    .main-registration-input {
        height: 30px;
    }

    .main-registration-description {
        min-height: 30px;
    }

    .main-registration-description {
        padding-top: 0.2rem!important;
    }

    #notifications {
        right: 0rem;
        width: 100%;
    }
}
