body {
    background-color: #010409f2;
}

nav {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}

.logo {
    color: #d7dce3;
    fill: #d7dce3;
    font-weight: 700;
}

.main-font {
    font-family: 'Kanit', sans-serif;
}

.main-color {
    background-color: #1a1f26;
}

.main-color-additional {
    background-color: #010409f2;
}

.main-navbar {
    padding: 0;
}

.main-justify {
    display: flex;
    justify-content: space-between;
}

.main-side {
    width: 75%;
}

.pt-60 {
    padding-top: 60%;
}

.main-fs {
    font-size: 18px!important;
}

.d-line {
    display: inherit;
}

.main-hidden-word {
    display: inline;
}

.main-search-box-container {
    width: 3.58%;
    margin-right: auto;
    transition: all 0.7s;
}

.main-search-box {
    width: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: auto;
    border: none;
	background: none;
	color: #fff;
	font-size: 16px;
	transition: .5s;
}

.main-search-box::-ms-clear {
    display: none;
}

.nav-link:hover {
    color: #afb5bb;
}

.main-search-box-container:hover {
    background-color: #0d1015;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-radius: 40px;
    width: 32%;
    border: 2px;
}

.main-search-box-container:hover:before {
    transition: all 0.3s;
}

.main-search-box-container:hover .main-search-box {
	width: calc(100% - 21px);
}

.main-search-btn {
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-decoration: none;
}

.main-search-btn:hover {
    color: white;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    color: #fff;
    position: absolute;
    font-size: 35px;
}

.nav-link {
    color: #d7dce3;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

.main-warning {
    color: #aa101c;
}

.main-console-container {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    color: white;
}

.main-console-top-panel {
    background-color: black;
    margin: auto;
    margin-top: 64px;
    width: 90%;
    height: 30px;
}

.main-console {
    background-color: #0c0c0c;
    margin: auto;
    width: 90%;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

.main-input-auth {
    width: 97%;
    height: 20px;
    color: white;
    background-color: #0c0c0c;
    border: 0;
    -webkit-box-shadow: inset 0 0 0 50px #0c0c0c;
    -webkit-text-fill-color: white;
}

.main-input-auth:focus {
    outline: none;
}

@media screen and (max-width: 925px)
{
    nav {
        padding-right: 0!important;
        padding-left: 0 !important;
    }

    .main-hidden-word {
        display: none!important;
    }

    .main-search-box-container {
        background-color: #222222;
        padding-right: 12px;
        padding-bottom: 2px;
        padding-left: 6px;
        border-radius: 40px;
        width: 100%;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        margin-top: 0.1rem!important;
        margin-bottom: 0.5rem!important;
    }

    .main-search-box {
        width: calc(100% - 21px);
    }

    .main-search-box-container:hover {
        width: 100%;
    }

    .main-logo {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .main-ul {
        display: flex;
        align-items: center;
        height: 0;
        visibility: hidden;
    }

    .links {
        margin: auto;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked ~ nav .bar #times {
        display: block;
    }

    #check:checked ~ nav .bar #bars {
        display: none;
    }

    #check:checked ~ nav .main-ul {
        height: auto;
        visibility: visible;
    }

    .active {
        margin-left: 2rem!important;
        margin-right: 2rem!important;
    }
}

@media screen and (max-width: 426px)
{
    .logo {
        display: none;
    }

    nav .bar #times {
        display: none;
    }

    nav .bar #bars {
        display: none;
    }

    .main-search-box-container {
        margin-top: 1rem!important;
    }

    .active {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }

    nav .main-ul {
        height: auto;
        visibility: visible;
    }
}