{% extends "navbar.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% if current_user.is_authenticated %}
    <div id='main-big-post-container' style="display: block;width: 100%;">
        <form method="post" enctype=multipart/form-data action="/add_post" novalidate>
            {{ form.hidden_tag() }}
            <div id='main-post-container' class="main-add-post main-white-font-color main-news-block main-align-div" style="align-items: start;display:flex">
                <i class="fa fa-user-circle main-post-item i-post" aria-hidden="true" style="margin-left: 2%!important;margin-top: 0.515%;"></i>
                <input id='main-post-ask-btn' class='main-post-item main-white-font-color' type="button" value="What's new?">
                <label for="image_input" style="margin-top: 0.2%;margin-right: 1%;margin-bottom: 0;"><i class="fa fa-picture-o main-post-item i-post" aria-hidden="true"></i></label>
			    <input name="image_input[]" id="image_input" type="file" accept=".png" style="display: none" multiple>
            </div>
            <div hidden id='main-post-bottom-panel' class="main-add-post-bottom main-white-font-color main-news-block main-align-div">
                <div id="qa-div">
                    <div class="main-align-div"><label for="#qa-checkbox" class="mr-2 main-post-label">Q&A</label><input id='qa-checkbox' value="q&a" type="checkbox" name="checkbox"></div>
                    <div class="ml-2 main-align-div"><label for="#qa-checkbox" class="mr-2 main-post-label">ANON</label><input id='an-checkbox' value="anon" type="checkbox" name="checkbox"></div>
                </div>
                {{ form.text(type="textarea", id="text", class='main-hidden-crutch', value='gay') }}
                {{ form.submit(id='main-post-btn', type="submit", onclick='replaceText()') }}
            </div>
            <div id="main-post-images"></div>
        </form>
        <div id="main-post-cancel-btn-div">
            <input id="main-post-cancel-btn" onclick=clearImagesBtn() type='button' value="cancel">
        </div>
    </div>
    <script>postClicked()</script>
    <script>addImages()</script>

    <div id="main-posts">
        {% for post in posts %}
            <div id="main-post">
                <hr>
                <div id="main-post-header">
                    <div id="post-user">
                        <a href="/account/{{ post.author }}" id="main-post-user-link">
                            <i class="fa fa-user-circle main-post-item i-post main-white-font-color" aria-hidden="true" style="margin-top: 0;"></i>
                            <b class="main-font main-white-font-color" style="margin-left: 20%;">{{ get_user(post.author).name }}</b><br>
                        </a>
                        <div>
                            <button id='main-post-more-btn' data-easy-toggle="#main-post-dropdown" data-easy-class="show" data-easy-rcoe data-easy-parallel>
                                <svg style='color: #d7dce3;' width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="more_horizontal_24__Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="more_horizontal_24__more_horizontal_24"><path id="more_horizontal_24__Bounds" d="M24 0H0v24h24z"></path><path d="M18 10a2 2 0 012 2 2 2 0 01-2 2 2 2 0 01-2-2c0-1.1.9-2 2-2zm-6 4a2 2 0 01-2-2c0-1.1.9-2 2-2a2 2 0 012 2 2 2 0 01-2 2zm-6 0a2 2 0 01-2-2c0-1.1.9-2 2-2a2 2 0 012 2 2 2 0 01-2 2z" id="more_horizontal_24__Mask" fill="currentColor"></path></g></g></svg>
                            </button>
                            <div id="main-post-dropdown" class="main-post-dropdown-menu">
                                <a href="#" class="dropdown-link">Удалить запись</a>
                                <a href="#" class="dropdown-link">Это не интересно</a>
                                <a href="#" class="dropdown-link">Пожаловаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% for string in post.text.split('\n') %}
                <b id='main-post-text' class="main-font main-white-font-color">{{ string }}</b>
            {% endfor %}
            {% if files.filter(FilePost.post_id == post.id).first() %}
                <div id="main-post-files">
                {% for image in files.filter(FilePost.post_id == post.id).all() %}
                    {% if is_file(image.way) %}
                        <img id='main-image-in-post' src="{{ image.way }}">
                    {% else %}
                        <img id='main-image-in-post-error' src="static/post-img/a/0.jpg">
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
                <br>
                <div id="main-post-other">
                    <i class="fa fa-terminal" aria-hidden="true" style="color: #d7dce3;font-size: 13px;margin-right: 1%;"></i>
                    <small class="main-font main-white-font-color">{{ post.datetime }} & {{ len(post.likes.split()) }} likes & {{ len(post.dislikes.split()) }} dislikes</small>
                </div>
                <hr>
                <div id="main-post-comments">

                </div>
                <div id="main-post-write-comments">
                    <form method="post" enctype=multipart/form-data action="/add_comment" novalidate>
                        {{ comment_form.hidden_tag() }}
                        {{ comment_form.post_id(type='hidden', value=post.id, readonly=True) }}
                        {{ comment_form.text(id='comments-hidden-input', type='hidden', post=post.id) }}
                        <div class="main-flex">
                            <i class="fa fa-user-circle main-comment-ava main-white-font-color" aria-hidden="true"></i>
                            <div contenteditable="true" id="main-post-comment-input" placeholder="write comment..."></div>
                            {{ form.submit(id='main-send-comment-btn', type="submit", onclick='replaceCommentText()', value="send") }}
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}
{% endblock %}
