{% extends "navbar.html" %}

{% block content %}
<div id="main-inbox-div">
    {% for user in viewer_data %}
        <div class="message-user-block">
            <div class="top-user-data">
                <div class="user-data">
                    <a class="user-avatar" href="/profile/{{ user.id }}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                    <span>{{ user.name }}</span>
                </div>
                <small>{{ viewer_data[user].datetime }}</small>
            </div>
            <div class="bottom-user-data">
                <span>{{ viewer_data[user].text }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
