{% extends "navbar.html" %}

{% block content %}
<div id="main-inbox-div">
    {% for user in sorted_viewer_data %}
        <div class="message-user-block" onclick="location.href='im/{{ user.id }}'">
            <div class="top-user-data">
                <div class="user-data">
                    <a class="user-avatar" href="/profile/{{ user.id }}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                    <span>{{ user.name }}</span>
                </div>
                <small>{{ viewer_data[user].datetime }}</small>
            </div>
            <div class="bottom-user-data">
                <p>{{ viewer_data[user].text }}</p>
                {% set user_read_data = unread_dict[user] %}
                {% if user_read_data %}
                    <p class="msg-unread-data">{{ user_read_data }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
