{% extends "navbar.html" %}

{% block content %}
<h2>{{ user.name }}</h2>
<p>User description:</p>
<p>{{ user.description }}</p>
{% if current_user.is_authenticated %}
<h3><a href="/messages/{{ user.id }}">Write him</a></h3>
{% endif %}
{% if current_user.id == user.id %}
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="text">{{ form.text.label }}</label>
        {{ form.text(type="textarea", id="text") }}
    </div>
    {{ form.submit() }}
</form>
{% endif %}
{% for post in posts %}
<hr>
<b>{{ session.query(User).get(post.author).name }}</b>
<br>
{% for string in post.text.split('\n') %}
{{ string }}<br>
{% endfor %}
<br>
<small>{{ post.datetime }} & {{ post.likes }} likes</small>
{% endfor %}
{% endblock %}