{% extends "navbar.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<div style="margin-bottom: 2%; margin-top: 10%">
    <h1 class="main-white-font-color">Ask our community a question</h1>
    <form id="main-qaa-form" method="post" enctype=multipart/form-data>
        <span class="main-white-font-color" style="font-weight: 700">Topic</span>
        <small class="main-white-font-color" style="margin-bottom: .5%">Be specific. Imagine that you are asking another person a question.</small>
        {{ form.hidden_tag() }}
        {{ form.title(id='main-qaa-form-input', class='main-qaa-form-item' + ' main-qaa-field-error' if form.title.errors else '', placeholder='What is your question? Be specific.') }}
        {% for error in form.title.errors %}
                <span class="main-qaa-error">{{ error }}</span>
        {% endfor %}
        <span class="main-white-font-color" style="font-weight: 700">Main part</span>
        <small class="main-white-font-color">Add all the information you might need to answer your question.</small>
        {{ form.text(class='main-qaa-form-item' + ' main-qaa-field-error' if form.text.errors else '', style='min-height: 150px;') }}
        <div style="margin-bottom: .5%" class="main-white-font-color">``` <code>code</code> ``` <p class="main-p">put '\' in front of the symbol(s) to make it non-special</p></div>
        {% for error in form.text.errors %}
                <span class="main-qaa-error">{{ error }}</span>
        {% endfor %}
        <span class="main-white-font-color" style="font-weight: 700">Tags</span>
        <small class="main-white-font-color" style="margin-bottom: .5%">Add tags (separated by whitespace: ' ') describing what your question is about.</small>
        {{ form.tags(class='main-qaa-form-item' + ' main-qaa-field-error' if form.tags.errors else '', style='margin-bottom: 1.5%;', placeholder='For example: html, css, chebya') }}
        {% for error in form.tags.errors %}
                <span class="main-qaa-error" style="margin-bottom: 1.5%;">{{ error }}</span>
        {% endfor %}
        <div style="display: flex;flex-direction: column; align-items: flex-end;">
            {{ form.submit(id='main-ask-button', value='Ask') }}
        </div>
    </form>
</div>

{% endblock %}
