{% extends "navbar.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>


<div class="df-c main-white-font-color">
    <div id="qaa-title">
        <h2 class="main-w-w f-s-20">{{ question.title }}</h2>
        <div>
            {% if current_user.id == question.author %}
                <button id="qaa-delete-btn" onclick="DeleteWind()"><i class="far fa-trash-alt"></i></button>
            {% endif %}
        </div>
    </div>
    <small>Asked {{ question.datetime.strftime("%a, %d %b %Y %H:%M:%S GMT") }}</small>
    <small>Viewed {{ question.views }}</small>
    <div class="main-qaa-page-content">
        <div class="main-vote">
            <i id='up-arrow-{{ question.id }}' class="fa fa-arrow-up main-arrow {% if is_liked %} main-qaa-selected {% endif %}" aria-hidden="true" onclick="qaa_vote({{ question.id }}, true)"></i>
            <span id='rating-qaa-span-{{ question.id }}' style="font-size: 40px;">{{ question_rating(question.id) }}</span>
            <i id='down-arrow-{{ question.id }}' class="fa fa-arrow-down main-arrow {% if is_disliked %} main-qaa-selected {% endif %}" aria-hidden="true" onclick="qaa_vote({{ question.id }}, false)"></i>
        </div>
        <div id="main-qaa-question">
            <pre id="main-qaa-content" class="main-white-font-color">
                <span>{{ question.text }}</span>
            </pre>
            <script>from_text_to_tags()</script>
            <div class="main-bottom-data" style="{% if not question.tags %}justify-content: flex-end;{% endif %}">
                {% if question.tags %}
                    <div id="main-qaa-p-tags">
                        <span class="tags"></span>
                        {% for tag in enumerate(question.tags.split()) %}
                            <span class="main-qaa-tag" {% if tag[0] + 1 == len(question.tags.split()) %}style="margin: 0 auto" {% endif %}>{{ tag[1] }}</span>
                        {% endfor%}
                    </div>
                {% endif %}
                <a href="/profile/{{ question.author }}" class="main-qaa-user-data">
                    {% set user = get_user(question.author) %}
                    {% if not user.avatar %}
                        <i class="fa fa-user-circle main-post-item i-post man-qaa-ava-b" aria-hidden="true"></i>
                    {% else %}
                        <img class='main-user-avatar-img-c i-post man-qaa-ava-b' src="{{ url_for('static', filename=get_user_avatar(user.id)) }}">
                    {% endif %}
                    <span>{{ get_user(question.author).name }}</span>
                </a>
            </div>
        </div>
    </div>
    <div id="main-answers">
        {% for answer in answers %}
            <div id="qaa-answer-{{ answer.id }}" class="{% if answer.right_answer %}right-answer{% endif %}">
                <div class="main-qaa-user-data-comment">
                    <a href="/profile/{{ answer.author }}">
                        {% set user = get_user(answer.author) %}
                        {% if not user.avatar %}
                            <i class="fa fa-user-circle main-post-item i-post man-qaa-ava-b" style="margin: 0 auto" aria-hidden="true"></i>
                        {% else %}
                            <img class='main-user-avatar-img-c i-post man-qaa-ava-b' style="margin: 0 auto" src="{{ url_for('static', filename=get_user_avatar(user.id)) }}">
                        {% endif %}
                        <span>{{ get_user(answer.author).name }}</span>
                    </a>
                </div>
                <div class="grid-answer">
                    <div class="main-comment-vote">
                        <i id='up-arrow-c-{{ answer.id }}' class="fa fa-arrow-up main-arrow-c {% if is_qaa_comment_liked(answer.id) %} main-qaa-selected {% endif %}" aria-hidden="true" onclick="qaa_vote_a_c({{ answer.id }}, true)"></i>
                        <span id="rating-qaa-span-c-{{ answer.id }}">{{ AnswerRating(answer.id) }}</span>
                        <i id="down-arrow-c-{{ answer.id }}" class="fa fa-arrow-down main-arrow-c {% if is_qaa_comment_disliked(answer.id) %} main-qaa-selected {% endif %}" aria-hidden="true" onclick="qaa_vote_a_c({{ answer.id }}, false)"></i>
                        {% if question.author == current_user.id %}<i id='fa-check-{{ answer.id }}' class="fa fa-check {% if answer.right_answer %}fa-check-right{% endif %}" aria-hidden="true" onclick="mark_as_right({{ question.id }},{{ answer.id }})" {% if answered(question.id) and not answer.right_answer %}style="display: none;"{% endif %}></i>{% endif %}
                    </div>
                    <div class="grid-answer-data">
                        <span class="answers-pre">{{ answer.text }}</span>
                    </div>
                </div>
                <div id='qaa-comments-{{ answer.id }}' class="qaa-answers-comments">
                    {% for comment in enumerate(comments.filter(QaaComment.answer_id == answer.id).all()) %}
                        <div answer="{{ answer.id }}" class="qaa-comment {% if comment[0] > 1 %}qaa-comment-hidden{% endif %}">
                            <span>{{ comment[1].text.strip().replace('\n\n', '\n') }}</span>
                            <a href="/profile/{{ comment[1].author }}" class="qaa-comment-data">
                                <small>{{ comment[1].datetime.strftime("%a, %d %b %Y %H:%M:%S GMT") }} commented by &mdash;&ensp;</small>
                                <span>{{ get_user(comment[1].author).name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                    <span id="s-a-b-{{ answer.id }}" class="comment-show-all-btn {% if len(comments.filter(QaaComment.answer_id == answer.id).all()) <= 2 %}hidden{% endif %}" onclick="show_hidden_qaa_comments({{ answer.id }})">show all...</span>
                </div>
                <form id='qaa-comment-{{ answer.id }}' __answer='{{ answer.id }}' class="qaa-comment-form" method="post" enctype=multipart/form-data action="/add_qaa_comment/{{ answer.id }}">
                    {{ comment_form.hidden_tag() }}
                    {{ comment_form.text(id='qaa-answer-comments-hidden-input-' + str(answer.id), style='display: none') }}
                    <div id='qaa-answer-comment-input-{{ answer.id }}' contenteditable="true" class="main-qaa-comment-input" placeholder="write comment..."></div>
                    {{ comment_form.submit(class='qaa-comment-btn', onclick='replaceQaaCommentText(' + str(answer.id) + ')') }}
                    <small id="main-qaa-c-error-{{ answer.id }}" class="main-qaa-c-error"></small>
                </form>
            </div>
        {% endfor %}
    </div>
    <div id="main-comments-data">
        <form id='qaa-answer-form' _question="{{ question.id }}" method="post" enctype=multipart/form-data action="/add_answer/{{ question.id }}">
            <span>Answer a question</span>
            <small class="main-qaa-error"></small>
            {{ answer_form.hidden_tag() }}
            {{ answer_form.text(id='answer-form') }}
            {{ answer_form.submit() }}
        </form>
    </div>
</div>
<div id='qaa-popup' class="main-popup">
    <div class="main-popup-body">
        <div class="main-popup-content">
            <span>Are you sure you want to delete your question?<br>Other users won't be able to see it or respond to it anymore.<br><span style="color: #fc1212">It will be impossible to restore it</span> :(</span>
            <div class="main-popup-btn">
                <a href='/delete/qaa/{{ question.id }}' class="main-popup-popup error-bg">Delete</a>
                <button onclick="DeleteWind()" class="main-popup-popup">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
