{% extends "navbar.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<div class="j-c-b" style="margin-bottom: 2%;">
    <i class="fas fa-code main-white-font-color main-20px"></i>
    <h1 id="main-qaa-title" class="main-font main-white-font-color">Questions from developers to developers</h1>
</div>
<div class="df-jc-c" style="margin-bottom: 2rem;">
    <a id="main-qaa-ask-link" href="/q&a/form"><span>Ask a Question</span></a>
</div>
<div id="main-questions">
    {% for question in questions %}
        <a href='profile/{{ author(question.author).id }}' class="top-panel" style="background: {{ gradient() }}">
            {% set user = get_user(question.author) %}
            {% if not user.avatar %}
                <i class="fa fa-user-circle main-post-item i-post main-white-font-color main-qaa-ava" aria-hidden="true"></i>
            {% else %}
                <img class='main-user-avatar-img-c i-post main-white-font-color main-qaa-ava' src="{{ url_for('static', filename=get_user_avatar(user.id)) }}">
            {% endif %}
             <b>{{ author(question.author).name }}</b>
        </a>
        <div class="main-qaa-block main-white-font-color">
            <div class="main-qaa-left-block">
                <div class="main-m-b">
                    <span class="main-num">{{ question_rating(question.id) }}</span>
                    <small>rating</small>
                </div>
                <div class="{% if answered(question.id) %}right-answer-bg {% endif %}main-m-b">
                    <span class="main-num">{{ answ_count(question.id) }}</span>
                    <small>answers</small>
                </div>
                <small>{{ question.views }} views</small>
            </div>
            <div class="main-qaa-right-block">
                <div class="main-qaa-right-block">
                    <a href="q&a/{{ question.id }}" class="main-fs-15px{% if answered(question.id) %} right-answered{% endif %}">{{ question.title }}</a>
                    <p class="main-w-w main-hidden-text main-fs-15px">{{ qaa_text(question.text) }}</p>
                    {% if question.tags %}
                        <div class="main-qaa-tags">
                            {% for tag in question.tags.split() %}
                                <p class="main-qaa-tag">{{ tag }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
   {% endfor %}
</div>

{% endblock %}
